:root {
  --bg: #FFE5D0;
  --card: #FFCBA4;
  --accent: #FF9F68;
  --title: #C86B3C;
  --text: #4A2C1A;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

header {
  padding: 20px;
  background-color: var(--accent);
  text-align: center;
}

header h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-emoji {
  font-size: 2.5rem;
  filter: drop-shadow(-2px 0px 4px rgb(0, 0, 0));
}

.logo-text {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--title); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}



header input {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: var(--card);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  color: var(--title);
}

.card p {
  margin: 0;
  font-weight: bold;
}

.offline-warning {
  display: none;
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #ffb3a7; /* koyu şeftali */
  color: #7a1c12;            /* kırmızımsı yazı */
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.status-message {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: #a8442b; /* şeftali-kırmızı */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff3ec;
  width: 90%;
  max-width: 600px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 16px;
}


.modal img {
  width: 100%;
  border-radius: 12px;
}

#closeModal {
  float: right;
  font-size: 28px;
  cursor: pointer;
  color: #a8442b;
}

.hidden {
  display: none;
}
